@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Momo+Trust+Display&display=swap');

@import "tailwindcss";

@theme {

    --font-Display1: "Momo Trust Display";
    --font-Display2: "Bai Jamjuree";

    /* Custom Colours */
    --color-Primary1: #5caac3;
    --color-Primary2: #06164f;
    --color-Secondary1: #cef1fe;
    --color-Secondary2: #cedbfe;
    --color-Background1: #effafc;
    --color-Background2: #daebfc;
    --color-Neutral-Dark: #1a1931;
}